<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1009275444428-821le8e0u39kio3qhjd2f19fugh3248e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1009275444428-821le8e0u39kio3qhjd2f19fugh3248e</string>
	<key>API_KEY</key>
	<string>AIzaSyBft92SrNMr03PQ_K6KUCWSBYh26lBCU-k</string>
	<key>GCM_SENDER_ID</key>
	<string>1009275444428</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.monash.ZOELOWPEIEE-A4-FinalApplication</string>
	<key>PROJECT_ID</key>
	<string>medwell-cdd04</string>
	<key>STORAGE_BUCKET</key>
	<string>medwell-cdd04.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1009275444428:ios:5df4e6af5a1967fcda7669</string>
</dict>
</plist>